﻿/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 40px; /* bottom = footer height */
    background-color: #ededed !important;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

.navbar {
    background-color: #217345 !important;
    color: white !important;
    font-family: Calibri !important;
    font-size: 20px;
}

hr {
    margin: 3px 10px !important;
}

.nav-link {
    text-align: center;
    color: darkslategrey;
}

    .nav-link:hover {
        background-color: lightgrey;
        color: darkslategray;
    }

.navbar-text {
    font-size: 10px;
}

h5 {
    font-size: 12px !important;
    color: gray !important;
    text-align: center;
}

h4 {
    font-size: 16px !important;
    color: white !important;
    text-align: center;
    padding-top: 6px;
}

footer {
    background-color: #217345 !important;
}

    footer:hover {
        background-color: #134429 !important;
        cursor: pointer;
    }

#notification-popup.ms-MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .ms-MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}

.ms-MessageBanner {
    background-color: #217345 !important;
    color: white !important;
}

#notification-header, #notification-body {
    color: white !important;
}

.ms-MessageBanner-close {
    color: white !important;
   
}